@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.wrapper {
  margin: auto;
  min-height: 100vh;
  width: 1350px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.formGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 10;
}

.form {
  box-sizing: border-box;
  height: 800px;
  padding: 20px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.titleGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
}

.subTitleGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
}

.nameGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
}

.dateGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
}

.serialNumberGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
}

.submitGrid {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 8;
}

.goBackGrid {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 9;
}

.deleteGrid {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 10;
}

.successGrid {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 11;
}

.title {
  color: rgb(61, 61, 61);
  font-size: 48px;
  font-weight: 600;
  margin-top: 30px;
}

.subTitle {
  color: rgb(61, 61, 61);
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.nameErrorGrid {
  color: rgb(185, 53, 53);
  margin-top: 65px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  font-size: 16px;
  font-weight: 600;
}

.dateErrorGrid {
  color: rgb(185, 53, 53);
  margin-top: 65px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  font-size: 16px;
  font-weight: 600;
}

.serialNumberErrorGrid {
  color: rgb(185, 53, 53);
  margin-top: 65px;
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  font-size: 16px;
  font-weight: 600;
}

.date,
.serialNumber,
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 55px;
  width: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(61, 61, 61);
}

.name {
  background-color: rgb(230, 226, 221);
}

.date,
.serialNumber {
  background-color: rgb(185, 185, 182);
  cursor: not-allowed;
}

.submit {
  background-color: rgb(238, 196, 133);
  border: none;
  height: 55px;
  width: 400px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
  cursor: pointer;
  color: rgb(61, 61, 61);
}

.submit:hover {
  background-color: rgb(250, 214, 160);
  color: rgb(61, 61, 61);
}

.beeGrid {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.beeImage {
  width: 240px;
  height: 170px;
  background-image: url("https://i.ibb.co/0QZ5fyD/bee-g7a2b76a35-1280.png");
  background-size: cover;
}
