@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.wrapper {
  margin: auto;
  min-height: 1080px;
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
}

.titleGrid {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
}

.buttonGrid {
  margin-left: 50px;
  grid-column-start: 12;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 3;
}

.datePickerGrid {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
}

.dataTableGrid {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 4;
  grid-row-end: 12;
}

.title {
  color: rgb(61, 61, 61);
  font-size: 48px;
  font-weight: 600;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.flex {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datePicker {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beeGrid {
  margin-left: 30px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.beeImage {
  width: 90px;
  height: 110px;
  // object-fit: scale-down;
  background-image: url("https://i.ibb.co/Vp7t3nJ/honey-bee-gdc36a8252-1920.png");
  background-size: cover;
}
