@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.container {
  margin: auto;
  height: 100vh;
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  //   display: grid;
  //   grid-template-columns: repeat(12, 58px);
  //   grid-template-rows: repeat(12, 66.6px);
  //   column-gap: 30px;
}
