.wrapper {
  //   box-sizing: border-box;
  height: 50px;
  width: 130px;
  background-color: rgb(238, 196, 133);
  color: rgb(61, 61, 61);
  font-weight: 600;
  font-size: 16px;
  border-radius: 5%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
