.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100px;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  cursor: pointer;
  color: rgb(224, 185, 127);
}

.primary,
.success,
.delete,
.error {
  height: 55px;
  width: 400px;
  background-color: rgb(238, 196, 133);
  color: rgb(61, 61, 61);
  font-weight: 600;
  font-size: 16px;
  border-radius: 0%;
}

.success {
  background-color: rgb(136, 238, 133);
  cursor: default;
}

.delete {
  background-color: rgb(228, 113, 113);
}

.error {
  background-color: rgb(228, 113, 113);
  cursor: default;
}

.delete:hover {
  background-color: rgb(250, 147, 147);
  color: rgb(61, 61, 61);
}

.primary:hover,
.add:hover {
  background-color: rgb(250, 214, 160);
  color: rgb(61, 61, 61);
}

.add {
  height: 50px;
  width: 130px;
  background-color: rgb(238, 196, 133);
  color: rgb(61, 61, 61);
  font-weight: 600;
  font-size: 16px;
  border-radius: 5%;
}
