@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.wrapper {
  min-height: 100vh;
  width: 1500px;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins";
  color: rgb(219, 175, 110);
}
